#%RAML 1.0
---
title: CTC Traders

protocols: [ HTTPS ]
baseUri: https://common-transit-convention-traders.hmrc.gov.uk/
version: 1.0

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Errors
   content: !include docs/errors.md

mediaType: [ application/json, application/xml ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

traits:
  contentXmlHeader:
    headers:
      Content-Type:
        description: Specifies the format of the request body, which must be XML.
        type: string
        required: true
        example: application/xml
  acceptHeaderInvalid:
    responses:
      406:
        body:
          application/json:
            type: types.errorResponse
            examples:
              badRequest:
                description: The accept header is missing or invalid
                value:
                  code : ACCEPT_HEADER_INVALID

/customs/transits/movements:
  /arrivals:
    post:
      displayName: Send an Arrival Notification message
      description: |
        Send a notification to let the office at destination know that the goods have arrived. This notification will be sent when the goods reach their final destination. It is also called an E_ARR_NOT (IE007).

        The location header in the response will contain a URI and arrival ID for the Arrival Notification. This will allow you to get the message status.

        If the user is not enrolled for an Economic Operator Registration and Identification number, they will receive an HTTP 403 Forbidden status. 
      is: [contentXmlHeader]
      (annotations.scope): "common-transit-convention-traders"
      securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
      responses:
        202:
          headers:
            Location:
              description: The URI to get the Arrival Notification, including an arrival ID and message ID
              example: /customs/transits/movements/arrivals/123456/messages/1
          body:
            application/xml:
              description: Valid XML Payload
              example: |
                <IE007>
                </IE007>
    get:
      displayName: Get all Movement Arrivals
      description: |
        Get all Movement Arrivals. Any Movement Arrivals more than 28 days old will have been archived along with their related messages. Archived movements will return an HTTP 404 Not Found status.
        You will only be able to retrieve these messages if you have the correct Economic Operator Registration and Identification (EORI) number for that Movement Arrival.
      is:
        - headers.acceptHeader
        - acceptHeaderInvalid
      (annotations.scope): "common-transit-convention-traders"
      securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
      responses:
        200:
          body:
            application/json:
              description: JSON payload
              example: |
                {
                  "arrivals": [
                    {
                      "arrival": "/customs/transits/movements/arrivals/1",
                      "created": "2020-02-04T13:02:00",
                      "updated": "2020-02-04T13:02:00",
                      "movementReferenceNumber": "MRN",
                      "status": "ArrivalSubmitted",
                      "messages": "/customs/transits/movements/arrivals/1/messages"
                    },
                    {
                      "arrival": "/customs/transits/movements/arrivals/2",
                      "created": "2020-02-04T13:02:00",
                      "updated": "2020-02-04T13:02:00",
                      "movementReferenceNumber": "MRN",
                      "status": "ArrivalSubmitted",
                      "messages": "/customs/transits/movements/arrivals/2/messages"
                    }
                  ]
                }

    /{arrivalId}:
      uriParameters:
        arrivalId:
          description: The arrival ID specifying the arrival to return
          type: string
          example: "1"
          required: true
      put:
        displayName: Resubmit an Arrival Notification message
        description: |
          Resubmit an Arrival Notification to let the office at destination know that the goods have arrived. This message will be sent when the goods reach their final destination. It is also called an E_ARR_NOT (IE007).

          The location header in the response will contain an arrival ID for the Arrival Notification. This will allow you to get the message status.

          If the user is not enrolled for an Economic Operator Registration and Identification number, they will receive an HTTP 403 Forbidden status.
        is: [contentXmlHeader]
        (annotations.scope): "common-transit-convention-traders"
        securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
        responses:
          202:
            headers:
              Location:
                description: The URI to retrieve the Arrival Notification, including arrival ID
                example: /customs/transits/movements/arrivals/{arrivalId}
      get:
        displayName: Get a Movement Arrival for an arrival ID
        description: |
         Get a specific Movement Arrival. Any Movement Arrivals more than 28 days old will be haven archived along with their related messages. Archived movements will return an HTTP 404 Not Found status.

          You will only be able to retrieve these messages if you have the correct Economic Operator Registration and Identification (EORI) number for that Movement Arrival.
        is:
          - headers.acceptHeader
          - acceptHeaderInvalid
        (annotations.scope): "common-transit-convention-traders"
        securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
        responses:
          200:
            body:
              application/json:
                description: JSON payload
                example: |
                  {
                    "arrival": "/customs/transits/movements/arrivals/1",
                    "created": "2020-02-04T13:02:00",
                    "updated": "2020-02-04T13:02:00",
                    "movementReferenceNumber": "MRN",
                    "status": "ArrivalSubmitted",
                    "messages": "/customs/transits/movements/arrivals/1/messages"
                  }
          404:
            description: When a Movement Arrival does not exist, has been archived or is not available to the EORI number.
      /messages:
        post:
          displayName: Send a message related to an Movement Arrival
          description: |
            Send a message to the office at destination. For example, an Unloading Remarks message, otherwise known as E_ULD_REM (IE044), to let them know that the goods have been unloaded.

            If the user is not enrolled for an Economic Operator Registration and Identification number, they will receive an HTTP 403 Forbidden status.
          is: [contentXmlHeader]
          (annotations.scope): "common-transit-convention-traders"
          securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
          responses:
            202:
              headers:
                Location:
                  description: The URI to retrieve the Arrival Notification, including arrival ID
                  example: /customs/transits/movements/arrivals/123456/messages
              body:
                application/xml:
                  description: Valid XML Payload
                  example: |
                    <IE044>...</IE044>
        get:
          displayName: Get all messages that relate to a Movement Arrival
          description: |
            Get all the messages to do with a Movement Arrival. Any Movement Arrivals more than 28 days old will have been archived along with their related messages. Archived movements will return an HTTP 404 Not Found status.

            You will only be able to retrieve these messages if you have the correct Economic Operator Registration and Identification (EORI) number for that Movement Arrival.
          is:
            - headers.acceptHeader
            - acceptHeaderInvalid
          (annotations.scope): "common-transit-convention-traders"
          securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
          responses:
            200:
              body:
                application/json:
                  description: JSON payload
                  example: |
                    {
                      "arrival": "/customs/transits/movements/arrivals/1",
                      "created": "2020-02-04T13:02:00",
                      "updated": "2020-02-04T13:02:00",
                      "movementReferenceNumber": "MRN",
                      "status": "ArrivalSubmitted",
                      "messages": [
                        {
                          "message": "/customs/transits/movements/arrivals/1/messages/1",
                          "received": "2020-02-04T13:02:00",
                          "messageType": "IE007",
                          "body": "<CC007A>...</CC007A>"
                        },
                        {
                          "message": "/customs/transits/movements/arrivals/1/messages/2",
                          "received": "2020-02-04T13:02:00",
                          "messageType": "IE007",
                          "body": "<CC007A>...</CC007A>"
                        }
                      ]
                    }
            404:
              description: When the Movement Arrival does not exist, has been archived or is not available to the EORI number.
        /{messageId}:
          uriParameters:
            messageId:
              description: The message ID specifying the message to return
              type: string
              example: "1"
              required: true
          get:
            displayName: Get a message relating to a Movement Arrival and message ID
            description: |
             Get all messages relating to a specific Movement Arrival and message ID. For example, this could include messages about route diversions or unloading permissions. Any Movement Arrivals more than 28 days old will have been archived along with their related messages. Archived movements will return an HTTP 404 Not Found status.

              You will only be able to retrieve these messages if you have the correct Economic Operator Registration and Identification (EORI) number for that Movement Arrival.
            is:
              - headers.acceptHeader
              - acceptHeaderInvalid
            (annotations.scope): "common-transit-convention-traders"
            securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
            responses:
              200:
                body:
                  application/json:
                    description: JSON payload
                    example: |
                      {
                        "message": "/customs/transits/movements/arrivals/1/messages/1",
                        "recieved": "2020-02-04T13:02:00",
                        "messageType": "IE007",
                        "body": "<CC007A>...</CC007A>"
                      }
              404:
                description: When a message does not exist, has been archived or is not available to the EORI number.
  /departures:
    post:
      displayName: Send a Declaration Data message
      description: |
        Send a Declaration Data message, to let the office at destination know that the goods are on their way. This notification will be sent when the goods leave the Office of Departure. It is also called an E_DEC_DAT (IE015).
        
        The location header in the response will contain a URI and departure ID for the Declaration Data. This will allow you to retrieve the submission status.

        If the user is not enrolled for an EORI number, they will receive an HTTP Forbidden Status.


      is: [contentXmlHeader]
      (annotations.scope): "common-transit-convention-traders"
      securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
      responses:
        202:
          headers:
            Location:
              description: The URI to retrieve the Departure Notification, including departure ID
              example: /customs/transits/movements/departures/123456
          body:
            application/xml:
              description: Valid XML Payload
              example: |
                <IE015>...</IE015>
    get:
      displayName: Get all Movement Departures
      description: |
        Get all Movement Departures sent to the office at departure within 28 days of the goods being released at their final destination. Any movement more than 28 days old will have been archived along with their related messages. Archived Movements will return an HTTP 404 Not Found status.

        You will only be able to retrieve these messages if you have the correct Economic Operator Registration and Identification (EORI) number for that Movement Arrival.
      is: 
        - headers.acceptHeader
        - acceptHeaderInvalid
      (annotations.scope): "common-transit-convention-traders"
      securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
      responses:
        200:
          body:
            application/json:
              description: JSON payload
              example: |
                {
                  "departures": [
                    {
                      "departure": "/customs/transits/movements/departures/1",
                      "created": "2019-09-12T12:22:00",
                      "updated": "2019-09-12T12:22:00",
                      "referenceNumber": "RN",
                      "status": "DepartureSubmitted",
                      "messages": "/customs/transits/movements/departures/1/messages"
                    },
                    {
                      "departure": "/customs/transits/movements/departures/2",
                      "created": "2019-09-12T12:22:00",
                      "updated": "2019-09-12T12:22:00",
                      "referenceNumber": "RN",
                      "status": "DepartureSubmitted",
                      "messages": "/customs/transits/movements/departures/2/messages"
                    }
                  ]
                }
    /{departureId}:
      get:
        displayName: Get a Movement Departure for a departure ID
        description: |
          Get a specific Movement Departure which was sent to the office at departure within 28 days of the goods being released at their final destination. Any Movements that are more than 28 days old will have been archived. Archived notifications will be return an HTTP 404 Not Found status. 

          You will only be able to retrieve these messages if you have the EORI number associated with the Movement Departure.
        is: 
          - headers.acceptHeader
          - acceptHeaderInvalid
        (annotations.scope): "common-transit-convention-traders"
        securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
        responses:
          200:
            body:
              application/json:
                description: JSON departure
                example: |
                  {
                    "departure": "/customs/transits/movements/departures/1",
                    "created": "2019-09-12T12:22:00",
                    "updated": "2019-09-12T12:22:00",
                    "referenceNumber": "RN",
                    "status": "DepartureSubmitted",
                    "messages": "/customs/transits/movements/departures/1/messages"
                  }

          404:
            description: When a Departure Movement does not exist, has been archived or is not available to the EORI number.
      /messages:
        post:
          displayName: Send a message related to a Movement Departure
          description: |
            Send a message to the office at destination. For example, a Declaration Cancellation request message, otherwise known as E_DEC_CAN (IE014), to let them know that the trader wants to cancel their Declaration Data message (IE015).
            If the user is not enrolled for an Economic Operator Registration and Identification number, they will receive an HTTP 
          is: [contentXmlHeader]
          (annotations.scope): "common-transit-convention-traders"
          securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
          responses:
            202:
              headers:
                Location:
                  description: The URI to retrieve the Departure Notification, including arrival ID
                  example: /customs/transits/movements/departures/123456/messages
              body:
                application/xml:
                  description: Valid XML Payload
                  example: |
                    <IE0XX>...</IE0XX>
        get:
          displayName: Get all messages relating to a Movement Departure
          description: |
            Get all messages sent within 28 days of the goods being released relating to a Movement Departure. Any Movements that are more than 28 days old will have been archived. Archived notifications will be return an HTTP 404 Not Found status. 

            You will only be able to retrieve these messages if you have the EORI number associated with the Movement Departure.
          is: 
            - headers.acceptHeader
            - acceptHeaderInvalid
          (annotations.scope): "common-transit-convention-traders"
          securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
          responses:
            200:
              body:
                application/json:
                  description: JSON payload
                  example: |
                    {
                      "departure": "/customs/transits/movements/departures/1",
                      "created": "2019-09-12T12:22:00",
                      "updated": "2019-09-12T12:22:00",
                      "referenceNumber": "RN",
                      "status": "DepartureSubmitted",
                      "messages": [
                        {
                          "message": "/customs/transits/movements/departures/1/messages/1",
                          "received": "2019-09-12T12:22:00",
                          "messageType": "IE015",
                          "body": "<CC015B>...</CC015B>"
                        },
                        {
                          "message": "/customs/transits/movements/departures/1/messages/2",
                          "received": "2019-09-12T12:22:00",
                          "messageType": "IE015",
                          "body": "<CC015B>...</CC015B>"
                        }
                      ]
                    }
            404:
              description: When the movement does not exist, has been archived or is not available to the EORI number.
        /{messageId}:
          get:
            displayName: Get a message relating to a Movement Departure and message ID
            description: |
              Get all messages relating to a specific Movement Departure and message ID. For example, this could include declaration rejected or Movement Reference Number (MRN) allocated messages. Any messages more than 28 days old will be archived. Archived notifications will be return an HTTP 404 Not Found status. 

              You will only be able to retrieve these messages if you have the EORI number associated with the Movement Departure.
            is:
              - headers.acceptHeader
              - acceptHeaderInvalid
            (annotations.scope): "common-transit-convention-traders"
            securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
            responses:
              200:
                body:
                  application/json:
                    description: JSON Payload
                    example: |
                      {
                        "message": "/customs/transits/movements/departures/1/messages/1",
                        "received": "2019-09-12T12:22:00",
                        "messageType": "IE015",
                        "body": "<CC015B></CC015B>"
                      }
              404:
                description: When message does not exist, has been archived or is not available to the EORI number.
