#%RAML 1.0
---
title: CTC Traders
description: The public API to allow traders to submit and receive Common Transit Convention (IE) messages
protocols: [ HTTPS ]
baseUri: https://common-transit-convention-traders.hmrc.gov.uk/
version: 1.0

documentation:
 - title: Overview
   content: !include docs/overview.md
 - title: Versioning
   content: !include https://developer.service.hmrc.gov.uk/api-documentation/assets/common/docs/versioning.md
 - title: Percent-encoding of parameters in request URLs
   content: !include docs/percent-encoding.md
 - title: Push Pull notifications
   content: !include docs/pushPull.md
 - title: Errors
   content: !include docs/errors.md

mediaType: [ application/json, application/xml ]

uses:
  sec: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/securitySchemes.raml
  headers: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/headers.raml
  annotations: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/annotations.raml
  types: https://developer.service.hmrc.gov.uk/api-documentation/assets/common/modules/types.raml

traits:
  contentXmlHeader:
    headers:
      Content-Type:
        description: Specifies the format of the request body, which must be XML.
        type: string
        required: true
        example: application/xml
  acceptJsonHeader:
    headers:
      Accept:
        description: |
          Specifies the response format, which must be JSON, and the [version](/api-documentation/docs/reference-guide#versioning) of the API to be used.
        type: string
        required: true
        example: application/vnd.hmrc.1.0+json
  acceptHeaderInvalid:
    responses:
      406:
        body:
          application/json:
            type: types.errorResponse
            examples:
              badRequest:
                description: The accept header is missing or invalid
                value:
                  code : ACCEPT_HEADER_INVALID

/customs/transits/movements:
  /arrivals:
    post:
      displayName: Send an arrival notification message
      description: |
        Notify the Customs Office of Destination that a transit movement has arrived at its final destination.

        This request is also called an ‘Arrival Notification’ E_ARR_NOT (IE007) message.

        A successful response will contain a URI and an arrival ID for the notification, which you can use to retrieve the message status.

        It will also contain an embedded request ID, box ID and box name, which you can use to match this movement to any messages received from the Push Pull Notifications API.

        **Note:** If an Economic Operators Registration and Identification (EORI) number has not been assigned to you, an HTTP 403 Forbidden error is returned.
      is: [contentXmlHeader]
      (annotations.scope): "common-transit-convention-traders"
      securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
      responses:
        202:
          body:
            application/json:
              description: JSON Payload
              example: |
                {
                  "_links": {
                    "self": {
                      "href": "/customs/transits/movements/arrivals/1"
                    }
                  },
                  "arrivalId": "1",
                  "messageType": "IE007",
                  "body": "<CC007A>...</CC007A>",
                  "_embedded":
                  {
                    "notifications":{
                      "boxId":"1234-5678-abcd-def",
                      "requestId":"/customs/transits/movements/arrivals/1",
                      "boxName":"customs/transits##1.0##notificationUrl"
                    }
                  }
                }
    get:
      displayName: Get all cached arrivals
      description: |
        Retrieve all arrivals that have been updated within the past 31 days.

        You can filter for arrivals updated after a specific date and time.

        Movements older than 31 days and their related messages are archived and cannot be returned by the API.

        **Note:** You can view a transit movement only if your Economic Operators Registration and Identification (EORI) number matches the EORI number that created the transit declaration for that movement. Your EORI number is part of the bearer token that you use for API authentication.
      is:
        - acceptJsonHeader
        - acceptHeaderInvalid
      queryParameters:
        updatedSince:
          required: false
          type: datetime
          description: This is an optional query parameter that you can use to filter for arrivals updated after a specific date and time.
          example: 2021-06-21T09:00+00:00
      (annotations.scope): "common-transit-convention-traders"
      securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
      responses:
        200:
          body:
            application/json:
              description: JSON Payload
              example: |
                {
                  "_links": {
                    "self": {
                      "href": "/customs/transits/movements/arrivals"
                    }
                  },
                  "_embedded": {
                    "arrivals": [
                      {
                        "id": "1",
                        "created": "2020-02-02T02:02:02",
                        "updated": "2020-02-02T02:02:02",
                        "movementReferenceNumber": "MRN",
                        "_links": {
                          "self": {
                            "href": "/customs/transits/movements/arrivals/1"
                          },
                          "messages": {
                            "href": "/customs/transits/movements/arrivals/1/messages"
                          }
                        }
                      },
                      {
                        "id": "2",
                        "created": "2020-02-04T02:02:02",
                        "updated": "2020-02-04T02:02:02",
                        "movementReferenceNumber": "MRN",
                        "_links": {
                          "self": {
                            "href": "/customs/transits/movements/arrivals/2"
                          },
                          "messages": {
                            "href": "/customs/transits/movements/arrivals/2/messages"
                          }
                        }
                      }
                    ],
                    "retrievedArrivals": 2,
                    "totalArrivals": 2
                  }
                }

    /{arrivalId}:
      uriParameters:
        arrivalId:
          description: The arrival ID specifying the arrival to return.
          type: string
          example: "1"
          required: true
      put:
        displayName: Resubmit an arrival notification message
        description: |
          Resend a notification to the Customs Office of Destination that a transit movement has arrived at its final destination.

          This request is also called an ‘Arrival Notification’ E_ARR_NOT (IE007) message.

          A successful response will contain a URI and an arrival ID for the notification, which you can use to retrieve the message status.

          **Note:** If an Economic Operators Registration and Identification (EORI) number has not been assigned to you, an HTTP 403 Forbidden error is returned.
        is: [contentXmlHeader]
        (annotations.scope): "common-transit-convention-traders"
        securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
        responses:
          202:
            body:
              application/json:
                description: JSON Payload
                example: |
                  {
                    "_links": {
                      "self": {
                        "href": "/customs/transits/movements/arrivals/1"
                      }
                    },
                    "arrivalId": "1",
                    "messageType": "IE007",
                    "body": "<CC007A>...</CC007A>"
                  }

      get:
        displayName: Get a cached arrival for an arrival ID
        description: |
          Retrieve a specific arrival that has been updated within the past 31 days.

          Movements older than 31 days and their related messages are archived and cannot be returned by the API.

          **Note:** You can view a transit movement only if your Economic Operators Registration and Identification (EORI) number matches the EORI number that created the transit declaration for that movement. Your EORI number is part of the bearer token that you use for API authentication.
        is:
          - acceptJsonHeader
          - acceptHeaderInvalid
        (annotations.scope): "common-transit-convention-traders"
        securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
        responses:
          200:
            body:
              application/json:
                description: JSON Payload
                example: |
                  {
                    "id": "1",
                    "created": "2020-10-10T10:10:10",
                    "updated": "2020-12-12T12:12:12",
                    "movementReferenceNumber": "MRN",
                    "_links": {
                      "self": {
                        "href": "/customs/transits/movements/arrivals/1"
                      },
                      "messages": {
                        "href": "/customs/transits/movements/arrivals/1/messages"
                      }
                    }
                  }
          404:
            description: When an arrival does not exist, has been archived or is not available to the EORI number.
      /messages:
        post:
          displayName: Send a message related to an arrival
          description: |
            Send a message to the Customs Office of Destination about an arrival.

            For example, if you are a Trader at Destination, you will send an ‘Unloading Remarks’ E_ULD_REM (IE044) message to the Customs Office of Destination indicating that unloading of the goods has been completed.

            A successful response will contain a URI and an arrival ID for the message, which you can use to retrieve the message status.

            **Note:** If an Economic Operators Registration and Identification (EORI) number has not been assigned to you, an HTTP 403 Forbidden error is returned.
          is: [contentXmlHeader]
          (annotations.scope): "common-transit-convention-traders"
          securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
          responses:
            202:
              body:
                application/json:
                  description: JSON Payload
                  example: |
                    {
                      "_links": {
                        "self": {
                          "href": "/customs/transits/movements/arrivals/1/messages/2"
                        },
                        "arrival": {
                          "href": "/customs/transits/movements/arrivals/1"
                        }
                      },
                      "arrivalId": "1",
                      "messageId": "2",
                      "messageType": "IE044",
                      "body": "<CC044A>...</CC044A>"
                    }
        get:
          displayName: Get all cached messages related to an arrival
          description: |
            Retrieve all messages related to a specific arrival that have been received within the past 31 days.

            You can filter for arrivals received after a specific date and time.

            Movements older than 31 days are archived, so any messages to related to them cannot be returned by the API.

            **Note:** You can view a transit movement only if your Economic Operators Registration and Identification (EORI) number matches the EORI number that created the transit declaration for that movement. Your EORI number is part of the bearer token that you use for API authentication.
          is:
            - acceptJsonHeader
            - acceptHeaderInvalid
          queryParameters:
            receivedSince:
              required: false
              type: datetime
              description: This is an optional query parameter that you can use to filter for arrivals received after a specific date and time.
              example: 2021-06-21T09:00+00:00
          (annotations.scope): "common-transit-convention-traders"
          securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
          responses:
            200:
              body:
                application/json:
                  description: JSON Payload
                  example: |
                    {
                      "_links": {
                        "self": {
                          "href": "/customs/transits/movements/arrivals/1/messages"
                        }
                      },
                      "_embedded": {
                        "messages": [
                          {
                            "_links": {
                              "self": {
                                "href": "/customs/transits/movements/arrivals/1/messages/1"
                              },
                              "arrival": {
                                "href": "/customs/transits/movements/arrivals/1"
                              }
                            },
                            "arrivalId": "1",
                            "messageId": "1",
                            "received": "2020-12-12T12:12:15",
                            "messageType": "IE007",
                            "body": "<CC007A>...</CC007A>"
                          }
                        ],
                        "arrival": {
                          "id": "1",
                          "created": "2020-10-10T10:10:10",
                          "updated": "2020-12-12T12:12:12",
                          "movementReferenceNumber": "MRN",
                          "_links": {
                            "self": {
                              "href": "/customs/transits/movements/arrivals/1"
                            },
                            "messages": {
                              "href": "/customs/transits/movements/arrivals/1/messages"
                            }
                          }
                        }
                      }
                    }
            404:
              description: When the arrival does not exist, has been archived or is not available to the EORI number.
        /{messageId}:
          uriParameters:
            messageId:
              description: The message ID specifying the message to return.
              type: string
              example: "1"
              required: true
          get:
            displayName: Get a cached message related to an arrival and message ID
            description: |
              Retrieve all messages related to a specific arrival and message ID that have been received within the past 31 days.

              For example, this could include messages about route diversions or unloading permissions.

              Movements older than 31 days and their related messages are archived and cannot be returned by the API.

              **Note:** You can view a transit movement only if your Economic Operators Registration and Identification (EORI) number matches the EORI number that created the transit declaration for that movement. Your EORI number is part of the bearer token that you use for API authentication.
            is:
              - acceptJsonHeader
              - acceptHeaderInvalid
            (annotations.scope): "common-transit-convention-traders"
            securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
            responses:
              200:
                body:
                  application/json:
                    description: JSON Payload
                    example: |
                      {
                        "_links": {
                          "self": {
                            "href": "/customs/transits/movements/arrivals/1/messages/1"
                          },
                          "arrival": {
                            "href": "/customs/transits/movements/arrivals/1"
                          }
                        },
                        "arrivalId": "1",
                        "messageId": "1",
                        "received": "2020-10-10T10:10:10",
                        "messageType": "IE007",
                        "body": "<CC007A>...</CC007A>"
                      }
              404:
                description: When a message does not exist, has been archived or is not available to the EORI number.
  /departures:
    post:
      displayName: Send a declaration data message
      description: |
        Send a transit declaration to the Customs Office of Departure to notify it that you wish to carry out a transit operation.

        This request is also called an ‘Declaration Data’ E_DEC_DAT (IE015) message.

        A successful response will contain a URI and a departure ID for the notification, which you can use to retrieve the message status.

        It will also contain an embedded request ID, box ID and box name, which you can use to match this movement to any messages received from the Push Pull Notifications API.

        **Note:** If an Economic Operators Registration and Identification (EORI) number has not been assigned to you, an HTTP 403 Forbidden error is returned.
      is: [contentXmlHeader]
      (annotations.scope): "common-transit-convention-traders"
      securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
      responses:
        202:
          body:
            application/json:
              description: JSON Payload
              example: |
                {
                  "_links": {
                    "self": {
                      "href": "/customs/transits/movements/departures/1"
                    }
                  },
                  "departureId": "1",
                  "messageType": "IE015",
                  "body": "<CC015B>...</CC015B>",
                  "_embedded":
                  {
                    "notifications":{
                      "boxId":"1234-5678-abcd-def",
                      "requestId":"/customs/transits/movements/departures/1",
                      "boxName":"customs/transits##1.0##notificationUrl"
                    }
                  }
                }
    get:
      displayName: Get all cached departures
      description: |
        Retrieve all departure declarations sent to the Customs Office of Departure within the past 31 days.

        You can filter for departure declarations updated after a specific date and time.

        Movements older than 31 days and their related messages are archived and cannot be returned by the API.

        A successful response will include a Movement Reference Number (MRN) only after it has been allocated to a movement.

        **Note:** You can view a transit movement only if your Economic Operators Registration and Identification (EORI) number matches the EORI number that created the transit declaration for that movement. Your EORI number is part of the bearer token that you use for API authentication.
      is:
        - acceptJsonHeader
        - acceptHeaderInvalid
      queryParameters:
        updatedSince:
          required: false
          type: datetime
          description: This is an optional query parameter that you can use to filter for departure declarations updated after a specific date and time.
          example: 2021-06-21T09:00+00:00
      (annotations.scope): "common-transit-convention-traders"
      securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
      responses:
        200:
          body:
            application/json:
              description: JSON Payload
              example: |
                {
                  "_links": {
                    "self": {
                      "href": "/customs/transits/movements/departures"
                    }
                  },
                  "_embedded": {
                    "departures": [
                      {
                        "id": "1",
                        "created": "2020-02-02T02:02:02",
                        "updated": "2020-02-02T02:02:02",
                        "movementReferenceNumber": "MRN",
                        "_links": {
                          "self": {
                            "href": "/customs/transits/movements/departures/1"
                          },
                          "messages": {
                            "href": "/customs/transits/movements/departures/1/messages"
                          }
                        }
                      },
                      {
                        "id": "2",
                        "created": "2020-02-04T02:02:02",
                        "updated": "2020-02-04T02:02:02",
                        "movementReferenceNumber": "MRN",
                        "_links": {
                          "self": {
                            "href": "/customs/transits/movements/departures/2"
                          },
                          "messages": {
                            "href": "/customs/transits/movements/departures/2/messages"
                          }
                        }
                      }
                    ],
                    "retrievedDepartures": 2,
                    "totalDepartures": 2
                  }
                }
    /{departureId}:
      get:
        displayName: Get a cached departure for a departure ID
        description: |
          Retrieve a specific departure declaration sent to the Customs Office of Departure within the past 31 days.

          Movements older than 31 days and their related messages are archived and cannot be returned by the API.

          A successful response will include a Movement Reference Number (MRN) only after it has been allocated to a movement.

          **Note:** You can view a transit movement only if your Economic Operators Registration and Identification (EORI) number matches the EORI number that created the transit declaration for that movement. Your EORI number is part of the bearer token that you use for API authentication.
        is:
          - acceptJsonHeader
          - acceptHeaderInvalid
        (annotations.scope): "common-transit-convention-traders"
        securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
        responses:
          200:
            body:
              application/json:
                description: JSON Payload
                example: |
                  {
                    "id": "1",
                    "created": "2020-10-10T10:10:10",
                    "updated": "2020-12-12T12:12:12",
                    "movementReferenceNumber": "MRN",
                    "_links": {
                      "self": {
                        "href": "/customs/transits/movements/departures/1"
                      },
                      "messages": {
                        "href": "/customs/transits/movements/departures/1/messages"
                      }
                    }
                  }

          404:
            description: When a departure does not exist, has been archived or is not available to the EORI number.
      /messages:
        post:
          displayName: Send a message related to a departure
          description: |
            Send a message to the Customs Office of Departure about a departure.

            For example, if you want to cancel a ‘Declaration Data’ E_DEC_DAT (IE015) message, you must send a ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message to the Office of Departure.

            A successful response will contain a URI and a message ID related to the departure, which you can use to retrieve the message status.

            **Note:** If an Economic Operators Registration and Identification (EORI) number has not been assigned to you, an HTTP 403 Forbidden error is returned.
          is: [contentXmlHeader]
          (annotations.scope): "common-transit-convention-traders"
          securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
          responses:
            202:
              body:
                application/json:
                  description: JSON Payload
                  example: |
                    {
                      "_links": {
                        "self": {
                          "href": "/customs/transits/movements/departures/1/messages/2"
                        },
                        "departure": {
                          "href": "/customs/transits/movements/departures/1"
                        }
                      },
                      "departureId": "1",
                      "messageId": "2",
                      "messageType": "IE014",
                      "body": "<CC014A>...</CC014A>"
                    }
        get:
          displayName: Get all cached messages related to a departure
          description: |
            Retrieve all messages related to a specific departure declaration sent to the Customs Office of Departure within the past 31 days.

            You can filter for departure declarations received after a specific date and time.

            Movements older than 31 days are archived, so any messages to related to them cannot be returned by the API.

            A successful response will include a Movement Reference Number (MRN) only after it has been allocated to a movement.

            **Note:** You can view a transit movement only if your Economic Operators Registration and Identification (EORI) number matches the EORI number that created the transit declaration for that movement. Your EORI number is part of the bearer token that you use for API authentication.
          is:
            - acceptJsonHeader
            - acceptHeaderInvalid
          queryParameters:
            receivedSince:
              required: false
              type: datetime
              description: This is an optional query parameter that you can use to filter for departure declarations received after a specific date and time.
              example: 2021-06-21T09:00+00:00
          (annotations.scope): "common-transit-convention-traders"
          securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
          responses:
            200:
              body:
                application/json:
                  description: JSON Payload
                  example: |
                    {
                      "_links": {
                        "self": {
                          "href": "/customs/transits/movements/departures/1/messages"
                        }
                      },
                      "_embedded": {
                        "messages": [
                          {
                            "_links": {
                              "self": {
                                "href": "/customs/transits/movements/departures/1/messages/1"
                              },
                              "departure": {
                                "href": "/customs/transits/movements/departures/1"
                              }
                            },
                            "departureId": "1",
                            "messageId": "1",
                            "received": "2020-12-12T12:12:15",
                            "messageType": "IE015",
                            "body": "<CC015B>...</CC015B>"
                          }
                        ],
                        "departure": {
                          "id": "1",
                          "created": "2020-10-10T10:10:10",
                          "updated": "2020-12-12T12:12:12",
                          "movementReferenceNumber": "MRN",
                          "_links": {
                            "self": {
                              "href": "/customs/transits/movements/departures/1"
                            },
                            "messages": {
                              "href": "/customs/transits/movements/departures/1/messages"
                            }
                          }
                        }
                      }
                    }
            404:
              description: When the movement does not exist, has been archived or is not available to the EORI number.
        /{messageId}:
          get:
            displayName: Get a cached message related to a departure and message ID
            description: |
              Retrieve all messages related to a specific departure and message ID that have been received within the past 31 days.

              For example, this could include ‘Declaration rejected’ or Movement Reference Number (MRN) allocated messages.

              Movements older than 31 days and their related messages are archived and cannot be returned by the API.

              **Note:** You can view a transit movement only if your Economic Operators Registration and Identification (EORI) number matches the EORI number that created the transit declaration for that movement. Your EORI number is part of the bearer token that you use for API authentication.
            is:
              - acceptJsonHeader
              - acceptHeaderInvalid
            (annotations.scope): "common-transit-convention-traders"
            securedBy: [ sec.oauth_2_0: { scopes: [ "common-transit-convention-traders" ] } ]
            responses:
              200:
                body:
                  application/json:
                    description: JSON Payload
                    example: |
                      {
                        "_links": {
                          "self": {
                            "href": "/customs/transits/movements/departures/1/messages/1"
                          },
                          "departure": {
                            "href": "/customs/transits/movements/departures/1"
                          }
                        },
                        "departureId": "1",
                        "messageId": "1",
                        "received": "2020-10-10T10:10:10",
                        "messageType": "IE015",
                        "body": "<CC015B>...</CC015B>"
                      }
              404:
                description: When message does not exist, has been archived or is not available to the EORI number.
  /push-pull-notifications/box:
    get:
      displayName: Get box information for application
      description: |
        Get box information for the application if there is a Push-Pull-Notification Service (PPNS) box.
      is:
        - acceptJsonHeader
        - acceptHeaderInvalid
      (annotations.scope): "common-transit-convention-traders"
      securedBy: [ sec.x-application ]
      responses:
        200:
          body:
            application/json:
              description: JSON Payload
              example: |
                {
                    "boxId": "5fb4b568-b5ff-4475-bd29-0a3e70abb6d6",
                    "boxName": "customs/transits##1.0##notificationUrl",
                    "_links": {
                        "self": {
                            "href": "/customs/transits/movements/push-pull-notifications/box"
                        }
                    }
                }
